@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {
    padding: 2%;
}

.logo {
    background-color: #fff;
    border-radius: 100%;
    float: left;
}

.line {
    width: 50%;
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    color: #fff;
}

.navbar-nav {
    background-color: #413F42;
    opacity: 0.8;
    padding: 1.5% 3%;
    font-family: 'Bellefair', serif;
}

.active-copy {
    border-bottom: 2px solid #fff !important;
    border-radius: 0 !important;
}

.nav-link-copy {
    color: #fff !important;
    text-decoration: none;
}

.nav-link-copy:hover {
    color: #fff;
    border-radius: 0 !important;
    background-color: grey !important;
}


.offcanvas-body {
    padding: 5% 0;
    background-color: #413F42;
    text-align: center;
}

.offcanvas-header {
    background-color: #413F42;
}