@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {
    background-image: url("/Crew/background-crew-desktop.jpg");
    background-size: cover;
    padding-bottom: 0;
}

.heading5 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    letter-spacing: 4.75;
    color: #fff;
}

.heading4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: grey;
    margin-top: 20%;
}

.tablet-img {
    display: none;
}

.number {
    font-weight: 900;
    color: grey;
}

.carousel {
    padding: 10% 10% 4% 10% !important;
    text-align: left;
}

.heading1 {
    font-family: 'Bellefair', serif;
    font-size: 70px;
    color: #fff;
    margin-top: 2%;
}

.plain-text {
    color: #D0D6F9;
    margin-top: 5%;
}

.crew-img {
    width: max-content;
    margin-left: 5%;
}

.crew-line {
    display: none;
}

/*----------------IPAD----------------------*/
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
    body {
        background-image: url("/Crew/background-crew-tablet.jpg");
        text-align: center;
    }
    
    .line {
        display: none;
    }

    .tablet-img {
        display: none;
    }

    .crew-line {
        display: none;
    }

    .heading5 {
        font-size: 22px;
        text-align: left;
    }
    
    .heading4 {
        font-size: 28px;
        margin-top: 10%;
    }
    
    .carousel {
    padding: 10% 10% 6% 10% !important;
    text-align: center;
    }

    .desktop-img {
        display: block;
    }
    
    .heading1 {
        font-size: 40px;
    }
    
    .crew-img {
        width: 60%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*----------------------PHONE---------------*/
@media only screen and (max-width: 600px) {
    body {
        background-image: url("/Crew/background-crew-mobile.jpg");
        text-align: center;
    }

    .line {
        display: none;
    }
    
    .tablet-img {
        display: block;
    }

    .crew-line {
        display: block;
        color: #fff;
    }

    .heading5 {
        font-size: 20px;
    }
    
    .heading4 {
        font-size: 22px;
        margin-top: 5%;
    }
    
    .carousel {
        padding: 12% 12% 10% 12% !important;
        text-align: center;
    }

    .desktop-img {
        display: none;
    }
    
    .heading1 {
        font-size: 30px;
    }
    
    .crew-img {
        width: 60%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}
