@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

body {
    background-image: url("/Technology/background-technology-desktop.jpg");
    background-size: cover;
}

.heading5 {
    font-family: "Bellefair", serif;
    font-size: 32px;
    letter-spacing: 4.75;
    color: #fff;
    margin-top: 7%;
    margin-left: 10%;
}

.number {
    font-weight: 900;
    color: grey;
}

.left-container {
    padding-top: 10%;
}

.text {
    margin-left: 20%;
    text-align: left;
}

.plain-text-heading {
    color: #d0d6f9;
    margin-top: 5%;
}

.plain-text {
    color: #d0d6f9;
    margin-top: 5%;
}

.heading1 {
    font-family: "Bellefair", serif;
    font-size: 65px;
    color: #fff;
    margin-top: 2%;
}

.image {
    text-align: right;
}

.tech-img-portrait {
    width: 80%;
}

.tech-img-landscape {
    display: none;
}


.side-buttons {
    list-style: none;
    float: left;
    margin-top: 4%;
}

.side-button-link {
    text-decoration: none;
    color: #000;
}

.round-button {
    background: none;
    border-radius: 100%;
    margin: 50%;
    font-size: 2rem;
    padding: 10% 50%;
    border: 2px solid #fff;
}

.round-button-active {
    background-color: #fff;
}

.display-inline {
    display: inline-block;
}

.side-buttons-tablet {
    display: none;
}

/*----------------IPAD----------------------*/
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
    body {
        background-image: url("/Technology/background-technology-tablet.jpg");
        text-align: center;
    }

    .line {
        display: none;
    }

    .row {
        padding: 0;
    }

    .heading5 {
        font-size: 28px;
        margin: 5% 0 0 0;
    }

    .left-container {
        text-align: center;
        padding: 0;
    }

    .text {
        margin: 0;
        text-align: center;
    }

    .heading1 {
        font-size: 55px;
        margin-top: 2%;
    }

    .tech-img-portrait {
        display: none;
    }

    .tech-img-landscape {
        display: block;
        width: 100%;
        margin: 5% 0;
    }

    .plain-text-heading {
        font-size: 20px;
    }

    .plain-text {
        font-size: 20px;
    }

    .side-buttons {
        display: none;
    }

    .side-buttons-tablet {
        display: flex;
        justify-content: space-around;
    }

    .round-button {
        border-radius: 100%;
        margin: 0 5%;
        font-size: 20px;
        padding: 5% 30%;
    }
}

/*----------------------PHONE---------------*/
@media only screen and (max-width: 600px) {
    body {
        background-image: url("/Technology/background-technology-mobile.jpg");
        text-align: center;
        background-size: cover;
    }

    .line {
        display: none;
    }

    .row {
        padding: 0;
    }

    .heading5 {
        font-size: 22px;
        margin: 5% 0 0 0;
        text-align: center;
    }

    .left-container {
        text-align: center;
        padding: 0;
    }

    .text {
        margin: 0;
        text-align: center;
    }

    .heading1 {
        font-size: 35px;
        margin-top: 2%;
    }

    .tech-img-portrait {
        display: none;
    }

    .tech-img-landscape {
        display: block;
        width: 100%;
        margin: 5% auto;
    }

    .side-buttons {
        display: none;
    }

    .side-buttons-tablet {
        display: flex;
        justify-content: space-around;
    }

    .round-button {
        border-radius: 100%;
        margin: 0 5%;
        font-size: 20px;
        padding: 3% 18%;
    }
}