@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {
    background-image: url("/Destination/background-destination-desktop.jpg");
    background-size: cover;
}

.heading5 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    letter-spacing: 4.75;
    color: #fff;
}

.number {
    font-weight: 900;
    color: grey;
}

.row {
    padding: 6% 12%;
    text-align: left;
}

.heading1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    color: #fff;
    margin-top: 15%;
}

.plain-text {
    color: #D0D6F9;
}

.table-plain-text {
    color: #D0D6F9;
}


.heading5 td {
    padding: 5% 0;
}

table {
    width: 60%;
}

.dest-line {
    color: #fff;
    margin: 15% 0;
}

.moon-img {
    margin-top: 20%;
}

.nav-pills-menu {
    font-size: 24px;
    cursor: pointer;
}

.active-menu {
    border-bottom: 2px solid #fff !important;
    border-radius: 0 !important;
}


.nav-link-menu {
    color: #D0D6F9 !important;
    text-decoration: none;
    font-family: 'Bellefair', serif;
}

.nav-link-menu:hover {
    background-color: #3e404b !important;
    border-radius: 0 !important;
}

/*----------------IPAD----------------------*/
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
    body {
        background-image: url("/Destination/background-destination-tablet.jpg");
    }

    .line {
        display: none;
    }

    .heading5 {
        font-size: 22px;
        text-align: left;
    }
    
    .row {
        padding: 12% 15%;
        text-align: center;
    }
    
    .heading1 {
        font-size: 80px;
        margin: 10% auto 5% auto;
    }
    
    .heading5 td {
        padding: 5% 0 0 0;
        text-align: center;
        font-size: 25px;
    }
    
    table {
        width: 100%;
        text-align: center;
    }
    
    .dest-line {
        color: #fff;
        margin: 10% 0;
    }
    
    .moon-img {
        margin: 10% auto;
    }   

    .nav-pills-menu {
        font-size: 20px;
    }
}

/*----------------------PHONE---------------*/
@media only screen and (max-width: 600px) {
    body {
        background-image: url("/Destination/background-destination-mobile.jpg");
    }

    .line {
        display: none;
    }

    .heading5 {
        font-size: 20px;
        text-align: center;
    }
    
    .row {
        padding: 12% 10%;
        text-align: center;
    }
    
    .heading1 {
        font-size: 50px;
        margin: 10% auto 5% auto;
    }
    
    .heading5 td {
        padding: 5% 0 0 0;
        text-align: center;
        font-size: 22px;
    }
    
    table {
        width: 100%;
        text-align: center;
    }
    
    .dest-line {
        color: #fff;
        margin: 10% 0;
    }
    
    .moon-img {
        margin: 10% auto;
        width: 90%;
    }

    .nav-pills-menu {
        font-size: 20px;
    }
}